{% extends 'padre.html' %}
{% block cambios %}

<body>
    <hr>
    <h1>Area de turnos</h1>
    <p>Bienvenidos!</p>
</body>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'Formularioadquirirturnos' %}">Sacar turnos</a>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'Consultarturnos' %}
            ">Consultar turnos</a>  
           </li>
    </ul>
</div>
{% endblock cambios %}
